.BodyWrapper    {
    width: 960px;
    margin: 0 auto;
    color: darkslateblue;
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/subtle-dots.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */;
    position: relative;
    font-size: 26px;
    border: 1px double;
    height: auto;
    top: 40px;
    padding: 30px 0 0;
    margin-bottom: 80px;
}

#AboutMeBox {
    width: 940px;
    margin: 0 auto;
    border-bottom: 1px double;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.ImageFloat {
    float: left;
    margin: 0 10px 0 0;
}

#bio    {
    width: 940px;
    margin: 0 auto;
    padding: 20px;
}

p   {
    font-size: 16px;
    color: black;
    padding-right: 20px;
    margin: 0;    
}

.spacing    {
    height: 12  px;
}