
.clearfix::after  {
    content: "";
    display: block;
    clear: both;
}

h1  {
    margin: 0;
}

body    {
    margin: 0;
    background-color: #d4d4d4;
    background-image: url("https://www.transparenttextures.com/patterns/mooning.png");
    /* These don't want to load correctly as local assets and I never got a 
    chance to figure out why*/
}

header{
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin: 0;
    height: 65px;
    border-bottom: 1px double #cccccc;
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/subtle-dots.png");
}

.HeaderWrapper  {
    position: relative;
    width: 960px;
    margin: 0 auto;
    height: 65px;
    border-bottom: 1px double #cccccc;
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/subtle-dots.png");
}

.MyName {
    float: left;
    text-align: center;
    width: auto;
    height: 40px;
    padding: 13px 10px 13px;
    background-color: #4aaaa5;
    color: white;   
    font-size: 26px;

}

.TopRightLinks  {
    position: absolute;
    right: 0;
    margin-top: 10px;
}

#AboutLink  {
    position: absolute;
    width: 40px;
    margin-top: 15px;
    padding-right: 10px;
    border-right: 1px double #cccccc;
    right: 152px;
}

#PortfolioLink  {
    position: absolute;
    width: 60px;
    margin-top: 15px;
    padding-right: 10px;    
    border-right: 1px double #cccccc;
    right: 70px;
}

#ContactLink    {
    position: absolute;
    width: 50px;
    margin-top: 15px;
    right: 8px;
}


.ColorStrip {
    background-color: #4aaaa5;
    height: 4px;
}

.BottomBar  {
    color: white;
    background-color: #666666;
    background-image: url("https://www.transparenttextures.com/patterns/mooning.png");
    height: 30px;
    text-align: center;
    padding-top: 15px;
}