
.clearfix::after  {
    content: "";
    display: block;
    clear: both;
}

body    {
    margin: 0;
    background-color: #d4d4d4;
    background-image: url("https://www.transparenttextures.com/patterns/mooning.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

header{
    margin: 0;
    height: 65px;
    border-bottom: 1px double;
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/subtle-dots.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.HeaderWrapper  {
    position: relative;
    width: 960px;
    margin: 0 auto;
    height: 65px;
    border-bottom: 1px double;
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/subtle-dots.png");
}

.MyName {
    float: left;
    text-align: center;
    width: 200px;
    height: 40px;
    padding: 20px 10px 6px;
    background-color: darkslateblue;
    color: white;   
    font-size: 26px;

}

.TopRightLinks  {
    position: absolute;
    right: 0;
    margin-top: 10px;
}

#AboutLink  {
    position: absolute;
    width: 40px;
    margin-top: 15px;
    padding-right: 10px;
    border-right: 1px double;
    right: 152px;
}

#PortfolioLink  {
    position: absolute;
    width: 60px;
    margin-top: 15px;
    padding-right: 10px;    
    border-right: 1px double;
    right: 70px;
}

#ContactLink    {
    position: absolute;
    width: 50px;
    margin-top: 15px;
    right: 8px;
}


.ColorStrip {
    background-color: darkslateblue;
    height: 4px;
}

.BottomBar  {
    color: white;
    background-color: #483D54;
    background-image: url("https://www.transparenttextures.com/patterns/mooning.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    height: 30px;
    text-align: center;
    padding-top: 15px;
}